---

---

<html>
    <head>
        <title>Pong</title>
    </head>
    <body>
        <style>
            :root {
                color-scheme: dark;
            }

            body {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100dvh;
            }

            h1 {
                font: 12px monospace;
                font-weight: 500;
            }

            canvas {
                border: 1px solid white;
            }
        </style>
        <h1>
            Pong in TS <a
                href="https://github.com/aspizu/aspizu.github.io/blob/main/src/scripts/games/pong.ts"
                >Source Code</a
            >
        </h1>
        <script src="../../scripts/games/pong.ts"></script>
    </body>
</html>
