:root {
    --bg: #1f1f1f;
    --fg: #ffffff;
    --link: #7effb4;
    --link-hover: #c1ffdb;
    --link-active: #227c48;
}

* {
    color: var(--fg);
    font-family: Cascadia Mono, monospace;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    background: var(--bg);
    margin-left: 32px;
}

h1 {
    margin-top: 16px;
    font-size: 32px;
}

div>p {
    color: #aaa;
    margin-left: 32px;
}

div>a {
    display: block;
    color: var(--link);
    margin: 16px;
}

div>a:hover {
    color: var(--link-hover);
}

div>a:active {
    color: var(--link-active);
}
