@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    font-size: 24px;
    line-height: 20px;
  }

  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
  }

  button {
    box-sizing: border-box;
    border: 0 solid;
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }

  input,
  pre,
  code {
    font: inherit;
  }

  [hidden] {
    display: none !important;
  }

  strong,
  b {
    @apply font-normal text-c64-orange;
  }

  small {
    @apply font-normal text-c64-light-grey;
  }

  code {
    @apply font-normal text-c64-purple;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply underline underline-offset-4;
  }

  h1 {
    border-bottom: 4px double currentColor;
    @apply w-fit pb-1 no-underline;
  }

  a {
    @apply text-c64-light-blue no-underline;
  }

  a:visited {
    @apply text-c64-purple;
  }

  a:hover {
    @apply text-c64-yellow underline;
  }

  a:active {
    @apply text-c64-orange;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-c64-light-blue;
  }

  mark {
    @apply bg-transparent font-normal text-c64-orange;
  }

  ::selection {
    @apply bg-c64-yellow text-c64-black;
  }

  hr {
    @apply my-8 border-0 border-t-2 border-c64-grey;
  }

  img {
    vertical-align: baseline;
    @apply inline h-auto max-w-full;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  blockquote {
    @apply mx-0 border-l-4 border-c64-purple pl-4 text-c64-light-grey;
  }

  pre:has(> code) {
    @apply overflow-x-auto;
  }

  pre > code {
    line-height: 20px;
  }

  :not(pre) > code {
    @apply bg-transparent p-0;
  }

  kbd {
    @apply bg-c64-white px-1.5 text-c64-black;
  }

  table {
    @apply border-collapse;
  }

  th,
  td {
    @apply border-2 border-c64-black;
  }

  input {
    @apply border-2 border-c64-grey;
  }

  th,
  td {
    @apply p-2;
  }

  th {
    @apply bg-c64-cyan text-c64-black;
  }

  input {
    @apply bg-c64-black text-c64-white;
  }

  :disabled {
    @apply bg-c64-dark-grey text-c64-light-grey;
  }
}
