@import "tailwindcss";

@theme {
    --font-sans: "Figtree Variable", "sans-serif";
}

.card {
    --shadow-blur: 48px;
    --shadow-color: rgba(255, 64, 64, 0.2);
    --shadow-ambient: rgba(255, 64, 64, 0.144);
    animation: float-shadow 8s ease-in-out infinite;
}

@keyframes float-shadow {
    0%,
    100% {
        box-shadow:
            0 12px var(--shadow-blur) 0 var(--shadow-color),
            0 24px calc(var(--shadow-blur) * 1.8) -8px var(--shadow-ambient),
            0 40px calc(var(--shadow-blur) * 2.5) -15px rgba(255, 0, 0, 0.05);
    }
    25% {
        box-shadow:
            -14px 6px calc(var(--shadow-blur) * 0.9) 0 var(--shadow-color),
            -24px 14px calc(var(--shadow-blur) * 1.6) -6px var(--shadow-ambient),
            -35px 22px calc(var(--shadow-blur) * 2.2) -12px rgba(255, 0, 0, 0.04);
    }
    50% {
        box-shadow:
            0 3px calc(var(--shadow-blur) * 0.7) 0 var(--shadow-color),
            0 8px calc(var(--shadow-blur) * 1.2) -4px var(--shadow-ambient),
            0 18px calc(var(--shadow-blur) * 1.8) -10px rgba(255, 0, 0, 0.03);
    }
    75% {
        box-shadow:
            14px 6px calc(var(--shadow-blur) * 0.9) 0 var(--shadow-color),
            24px 14px calc(var(--shadow-blur) * 1.6) -6px var(--shadow-ambient),
            35px 22px calc(var(--shadow-blur) * 2.2) -12px rgba(255, 0, 0, 0.04);
    }
}

.Project:hover ~ .Project,
.Project:has(~ .Project:hover) {
    opacity: 0.75;
}

.Social:hover {
    scale: 1.1;
}

.Social:hover ~ .Social,
.Social:has(~ .Social:hover) {
    opacity: 0.75;
    scale: 0.95;
}

.footer /* resulting css */ {
    pointer-events: none;
    grid-column: 1/4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    z-index: -1;
    filter: contrast(100%) brightness(190%) invert(100%);
    background:
        radial-gradient(
            ellipse 100% 90% at top,
            rgba(0, 0, 0, 0.02) 50%,
            rgba(0, 88, 86, 0.25) 70%,
            rgba(0, 88, 86, 1) 140%
        ),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 97 97' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.58' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
