@import "tailwindcss";

@theme {
    --font-sans: "Figtree Variable", "sans-serif";
    --font-mono: "UnifontEX", "monospace";
}

.card {
    --shadow-blur: 48px;
    --shadow-color: rgba(0, 0, 255, 0.2);
    --shadow-ambient: rgba(170, 0, 255, 0.144);
    animation: float-shadow 8s ease-in-out infinite;
}

@keyframes float-shadow {
    0%,
    100% {
        box-shadow:
            0 12px var(--shadow-blur) 0 var(--shadow-color),
            0 24px calc(var(--shadow-blur) * 1.8) -8px var(--shadow-ambient),
            0 40px calc(var(--shadow-blur) * 2.5) -15px rgba(0, 0, 255, 0.05);
    }
    25% {
        box-shadow:
            -14px 6px calc(var(--shadow-blur) * 0.9) 0 var(--shadow-color),
            -24px 14px calc(var(--shadow-blur) * 1.6) -6px var(--shadow-ambient),
            -35px 22px calc(var(--shadow-blur) * 2.2) -12px rgba(0, 0, 255, 0.04);
    }
    50% {
        box-shadow:
            0 3px calc(var(--shadow-blur) * 0.7) 0 var(--shadow-color),
            0 8px calc(var(--shadow-blur) * 1.2) -4px var(--shadow-ambient),
            0 18px calc(var(--shadow-blur) * 1.8) -10px rgba(0, 0, 255, 0.03);
    }
    75% {
        box-shadow:
            14px 6px calc(var(--shadow-blur) * 0.9) 0 var(--shadow-color),
            24px 14px calc(var(--shadow-blur) * 1.6) -6px var(--shadow-ambient),
            35px 22px calc(var(--shadow-blur) * 2.2) -12px rgba(0, 0, 255, 0.04);
    }
}

.Project:hover ~ .Project,
.Project:has(~ .Project:hover) {
    opacity: 0.75;
}

.Social:hover {
    scale: 1.1;
}

.Social:hover ~ .Social,
.Social:has(~ .Social:hover) {
    opacity: 0.75;
    scale: 0.95;
}
