:root {
    font-size: 12px;
    color: var(--ctp-mocha-text);
    background: var(--ctp-mocha-base);
}

body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 32px;
    align-items: center;
    margin-top: 64px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > a {
        display: inline-block;
        margin-right: auto;
        color: var(--ctp-mocha-sapphire);
        font-weight: 500;
        background: var(--ctp-mocha-surface0);

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1.2px;
            text-underline-offset: 1.7px;
        }
    }
}

main {
    width: min(100%, 65ch);
    text-align: justify;
    text-justify: inter-word;

    pre {
        color: var(--ctp-mocha-sapphire);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 800;
    }

    h1 {
        color: var(--ctp-mocha-peach);
        border-bottom: 1px solid var(--ctp-mocha-surface0);
        padding-bottom: 4px;
        font-size: 16px;
        margin-top: 8px;
    }

    h2 {
        color: var(--ctp-mocha-green);
        border-bottom: 1px solid var(--ctp-mocha-surface0);
        padding-bottom: 4px;
        margin-top: 16px;
    }

    h3 {
        color: var(--ctp-mocha-teal);
        margin-top: 8px;
    }

    h4 {
        color: var(--ctp-mocha-blue);
    }

    h5 {
        color: var(--ctp-mocha-pink);
    }

    h6 {
        color: var(--ctp-mocha-lavender);
    }

    a {
        color: var(--ctp-mocha-mauve);
        text-decoration: underline;
        text-decoration-thickness: 1.2px;
        text-underline-offset: 1.7px;
        font-weight: 500;

        &:hover {
            color: var(--ctp-mocha-mantle);
            background-color: var(--ctp-mocha-mauve);
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style-type: square;
        list-style-position: outside;
        padding-left: 24px;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 24px;
    }
}
