---
import Mail from "@lucide/astro/icons/mail"
import {Fragment} from "astro/jsx-runtime"
import LastFM from "../components/LastFM.astro"
import Project from "../components/Project.astro"
import Socials from "../components/Socials.astro"
import StatusCafe from "../components/StatusCafe.astro"
import projects from "../data/projects.json"
import Layout from "../layouts/Layout.astro"
// import startup from "../data/startup.txt?raw"
---

<Layout>
    <!-- <div id="startup" class="fixed inset-0 bg-black z-11 flex items-end p-4">
        <div
            id="startup-text"
            data-startup={startup}
            class="font-mono text-sm leading-none"
        >
            <img
                src="/aspizumegatrends.svg"
                alt="aspizu megatrends logo"
                class="mb-4 filter-[pixelate()] h-24"
            />
        </div>
    </div> -->
    <div
        class="col-2 my-16 relative grid bg-linear-to-b from-blue-600/20 to-blue-600/50 p-1 rounded-3xl card"
    >
        <!-- <img
                    class="absolute z-1 -bottom-10 scale-[1.6]"
                    src="/stickers.png"
                    alt="overlay"
                /> -->
        <div
            class="flex relative flex-col gap-4 bg-linear-to-b from-black to-black/25 rounded-[21px] shadow overflow-hidden"
        >
            <StatusCafe />
            <div
                class="relative rounded-[21px] rounded-b-none h-32 w-full bg-[url('/banner.png')] bg-cover bg-top opacity-50"
            >
            </div>
            <img
                id="avatar"
                src="/avatar.png"
                alt="avatar"
                class="absolute top-8 left-4 size-32 rounded-full border border-black shadow"
            />
            <div class="flex flex-col p-4 pt-8">
                <h1 class="text-2xl font-medium">
                    <!-- <span
                            class="text-shadow-blue-300 text-shadow-[0px_1px_5px] bg-white bg-clip-text text-transparent font-['Press_Start_2P']"
                            >aspizu</span
                        > -->
                    <img
                        src="/minecraft_title.png"
                        alt="aspizu"
                        class="h-6 inline-block"
                    />
                    <span class="text-neutral-400 font-light">he/him</span>
                    <img src="/india.png" class="inline size-6" />
                </h1>
                <p>
                    I'm a recreational coder, sometimes I make (often terrible) music.
                    I'm currently looking for a job.
                </p>

                <LastFM />
                <Socials />
            </div>
        </div>
        <a
            href="mailto:aspizu@protonmail.com"
            class="absolute top-4 right-4 z-10 inline-flex items-center justify-center gap-1 px-2 py-1 bg-white/85 hover:bg-white text-black font-medium rounded-lg transition-colors duration-200 shadow-md hover:shadow-lg text-sm"
        >
            <Mail class="size-3.5" />
            email me
        </a>
    </div>

    <h1 class="col-2 relative bg-black text-sm font-semibold px-1 mr-auto z-2">
        PROJECTS
    </h1>
    <div class="col-[1/4] -translate-y-3 h-px bg-white/10"></div>
    {projects.map((project) => <Project {...project} />)}

    <div class="mt-3 col-[1/4] h-px bg-white/10"></div>
    <p class="py-8 col-2 place-self-center text-xs text-neutral-300 font-medium">
        &copy; 2026 &nbsp; — &nbsp; MADE WITH ❤️ BY ASPIZU
    </p>
</Layout>

<script>
    // async function sleep(duration: number): Promise<void> {
    //     return new Promise((resolve) => {
    //         setTimeout(() => {
    //             resolve()
    //         }, duration)
    //     })
    // }

    // const startup = document.getElementById("startup")
    // const startupText = document.getElementById("startup-text")
    // const text = startupText.dataset.startup.split("\n")
    // for (const line of text) {
    //     startupText.innerHTML += line + "<br>"
    //     const d = Math.random()
    //     //await sleep(d * d * 8)
    // }
    // startup.style.display = "none"

    const avatar = document.getElementById("avatar")
    let sr = 14.5
    let r = 0
    let interval = null
    function update() {
        sr *= 0.99
        r += sr
        avatar.style.rotate = `${r}deg`
        if (sr < 0.01) {
            clearInterval(interval)
        }
    }
    interval = setInterval(update, 25)
</script>
