---
import Card from "../components/Card.astro"
import LastFM from "../components/LastFM.astro"
import Project from "../components/Project.astro"
import Socials from "../components/Socials.astro"
import StatusCafe from "../components/StatusCafe.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div id="particles" class="absolute inset-0 -z-1"></div>

    <div
        class="relative grid bg-linear-to-b from-blue-600/20 to-blue-600/50 p-1 rounded-3xl card w-auto"
    >
        <!-- <img
                class="absolute z-1 -bottom-10 scale-[1.6]"
                src="/stickers.png"
                alt="overlay"
            /> -->
        <div
            class="flex relative flex-col gap-4 bg-linear-to-b from-black to-black/25 rounded-[21px] shadow"
        >
            <StatusCafe />
            <div
                class="relative rounded-[21px] rounded-b-none h-32 w-full bg-[url('/banner.png')] bg-cover bg-top opacity-50"
            >
            </div>
            <img
                src="/avatar.png"
                alt="avatar"
                class="absolute top-8 left-4 size-32 rounded-full border border-black shadow"
            />
            <div class="flex flex-col p-4 pt-8">
                <h1 class="text-2xl font-medium">
                    <span
                        class="text-shadow-blue-300 text-shadow-[0px_1px_5px] bg-white bg-clip-text text-transparent"
                        >aspizu</span
                    >
                    <span class="text-neutral-400 font-light">he/him</span>
                    <img src="/india.png" class="inline size-6" />
                </h1>
                <p>Hey there, I like to make stuff. I'm 21</p>
                <LastFM />
                <Socials />
            </div>
        </div>
    </div>
    <Card>
        <h1 class="text-xl font-medium">Software</h1>

        <Project
            title="goboscript"
            description="Text-based programming language that compiles into Scratch projects. Scratch is a visual programming language designed to teach programming to kids made by MIT. goboscript was created to develop advanced technical Scratch projects."
            href="https://aspizu.github.io/goboscript.ide"
            repo="goboscript"
            docs="https://aspizu.github.io/goboscript"
            image="https://camo.githubusercontent.com/4d5d6bd985ec424d041a4b1211de990cf3e66047733de3edcdb4ffa26152e46b/68747470733a2f2f752e6375626575706c6f61642e636f6d2f617370697a752f556e7469746c65643230323431323131313931342e706e67"
        />

        <Project
            title="Nixite"
            description="Inspired by Ninite.com, Nixite generates a bash script to unattendedly install all your Linux software. Nixite automatically configures your system and installs software using the best method available. Nixite tries to suppress confirmation prompts."
            href="https://aspizu.github.io/nixite"
            repo="nixite"
            image="https://github.com/aspizu/nixite/raw/main/public/screenshot.png"
        />

        <Project
            title="tshu"
            description="Python library that allows you to run safe and cross-platform bash commands using Python 3.14's t-strings. Uses brush which is a cross-platform bash implementation written in Rust."
            href="https://aspizu.github.io/tshu"
            repo="tshu"
            docs="https://aspizu.github.io/tshu"
        />

        <Project
            title="musync"
            description="Copy/rename/convert lossless audio to mp3 efficiently."
            href="https://github.com/aspizu/musync"
            repo="musync"
            image="https://github.com/aspizu/musync/raw/main/screenshot.png"
        />

        <Project
            title="msglint"
            description="Commit message linter."
            href="https://github.com/aspizu/msglint"
            repo="msglint"
            image="https://github.com/aspizu/msglint/raw/main/docs/assets/screenshot.png"
        />

        <Project
            title="neocities-sync"
            description="Sync files to neocities while doing the least amount of API requests. You can use this to deploy a Vite, Astro or Next.js app to neocities."
            href="https://github.com/aspizu/neocities-sync"
            repo="neocities-sync"
        />

        <Project
            title="instax"
            description="Create counterfeit instant camera pictures. Print guides with perfect dimensions (original instax films) to PDF."
            href="https://aspizu.github.io/instax"
            repo="instax"
        />
    </Card>
</Layout>
