---
import "@fontsource-variable/figtree"
import Bluesky from "simple-icons-astro/Bluesky"
import Github from "simple-icons-astro/Github"
import Pinterest from "simple-icons-astro/Pinterest"
import Reddit from "simple-icons-astro/Reddit"
import Scratch from "simple-icons-astro/Scratch"
import Spotify from "simple-icons-astro/Spotify"
import Steam from "simple-icons-astro/Steam"
import X from "simple-icons-astro/X"
import Youtube from "simple-icons-astro/Youtube"
import Social from "../components/Social.astro"
import "../styles/global.css"
import AudioLinesIcon from "@lucide/astro/icons/audio-lines"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aspizu</title>
        <script is:inline src="/particles.min.js"></script>
        <script is:inline src="/ghostCursor.js"></script>
        <script
            is:inline
            src="https://louisabraham.github.io/nekojs/neko.js"
            data-autostart></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        ></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
        <!-- <script
            is:inline
            type="text/javascript"
            src="//cdn.jsdelivr.net/gh/deskjet/chiptune2.js@master/libopenmpt.js"
        ></script>
        <script
            is:inline
            type="text/javascript"
            src="//cdn.jsdelivr.net/gh/deskjet/chiptune2.js@master/chiptune2.js"
        ></script> -->
    </head>
    <body class="dark bg-black text-white flex p-4 justify-center items-center h-dvh">
        <div id="particles" class="absolute inset-0 -z-1"></div>
        <script>
            // @ts-ignore
            particlesJS.load("particles", "particles.json", function () {})
            // @ts-ignore
            ghostCursor({})
        </script>
        <div
            class="relative grid bg-linear-to-b from-blue-600/20 to-blue-600/50 p-1 rounded-3xl card"
        >
            <!-- <img
                class="absolute z-1 -bottom-10 scale-[1.6]"
                src="/stickers.png"
                alt="overlay"
            /> -->
            <div
                class="flex relative flex-col gap-4 bg-linear-to-b from-black to-black/25 rounded-[21px] shadow"
            >
                <div
                    class="bg-neutral-900 size-3 absolute left-37 top-26 translate-y-[50%] z-1 rounded-full"
                >
                </div>
                <div
                    class="bg-neutral-900 size-6 absolute left-39 top-28 translate-y-[50%] z-1 rounded-full"
                >
                </div>
                <div
                    class="flex bg-neutral-900 absolute top-30 left-35 translate-y-[50%] z-1 px-3 py-2 items-baseline gap-1 rounded-full"
                    _="on load fetch https://status.cafe/users/aspizu/status.json
                    set result to JSON.parse(result)
                    put result.face into #status-face
                    put result.timeAgo into #status-timeAgo
                    put result.content into #status-content
                    "
                >
                    <p id="status-content" class="text-sm"></p>
                    <span id="status-face" class="text-sm"></span>
                    <span id="status-timeAgo" class="ml-auto text-neutral-400 text-xs"
                    ></span>
                </div>
                <div
                    class="relative rounded-[21px] rounded-b-none h-32 w-full bg-[url('/banner.png')] bg-cover bg-top opacity-50"
                >
                </div>
                <img
                    src="/avatar.png"
                    alt="avatar"
                    class="absolute top-8 left-4 size-32 rounded-full border border-black shadow"
                />
                <div class="flex flex-col p-4 pt-8">
                    <h1 class="text-2xl font-medium">
                        <span
                            class="text-shadow-blue-300 text-shadow-[0px_1px_5px] bg-[linear-gradient(to_right,cornflowerblue,white,cornflowerblue,white,cornflowerblue)] bg-clip-text text-transparent"
                            >aspizu</span
                        >
                        <span class="text-neutral-400 font-light">he/him</span>
                        <img src="/india.png" class="inline size-6" />
                    </h1>
                    <p>Hey there, I write code sometimes.</p>

                    <div
                        class="mt-2 flex flex-col bg-black/25 rounded-xl p-3"
                        _="on load fetch https://lastfm-last-played.biancarosa.com.br/aspizu/latest-song
                        set result to JSON.parse(result)
                        put result.track.artist['#text'] into #player-artist
                        put result.track.name into #player-title
                    "
                    >
                        <span class="text-xs text-neutral-400 font-semibold"
                            >LAST PLAYED</span
                        >
                        <div class="flex items-center gap-2">
                            <img src="/winamp.png" alt="winamp logo" class="size-7" />
                            <!-- <AudioLinesIcon /> -->
                            <a
                                rel="noreferrer"
                                target="_blank"
                                href="https://www.last.fm/user/aspizu"
                            >
                                <h2 class="font-medium" id="player-title">Loading</h2>
                                <h3 class="text-xs" id="player-artist">Loading</h3>
                            </a>
                        </div>
                    </div>
                    <div class="mt-4 flex gap-2">
                        <Social color="#181717" href="https://github.com/aspizu">
                            <Github />
                        </Social>

                        <Social
                            color="#FFC83D"
                            href="https://scratch.mit.edu/users/aspizu"
                        >
                            <Scratch />
                        </Social>

                        <Social color="#FF4500" href="https://reddit.com/u/aspizu">
                            <Reddit />
                        </Social>

                        <Social
                            color="#171A21"
                            href="https://steamcommunity.com/id/aspizu/"
                        >
                            <Steam />
                        </Social>

                        <Social
                            color="#0085FF"
                            href="https://bsky.app/profile/did:plc:ntwh75drpbi3irhf272raokr"
                        >
                            <Bluesky />
                        </Social>

                        <Social color="#E60023" href="https://in.pinterest.com/a5pizu/">
                            <Pinterest />
                        </Social>

                        <Social
                            color="#1DB954"
                            href="https://open.spotify.com/user/31to572so4aje5seeeqhuqftajva?si=d3f656c7532845a7"
                        >
                            <Spotify />
                        </Social>

                        <Social color="#FF0000" href="https://youtube.com/@a5pizu">
                            <Youtube />
                        </Social>

                        <Social color="#000000" href="https://x.com/a5pizu">
                            <X />
                        </Social>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex p-4 gap-4"></div>
    </body>
</html>
