---
import "@fontsource-variable/figtree"
import "@fontsource-variable/cascadia-code"
import "@/styles/global.css"
import Profile from "@/components/Profile.astro"
import Terminal from "@/components/Terminal.astro"
import ProjectSection from "@/components/ProjectSection.astro"
import projects from "@/content/projects.json"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aspizu</title>
    </head>
    <body class="relative bg-black scheme-dark">
        <div class="flex flex-col bg-black text-white py-16 px-2">
            <div class="mx-auto grid grid-cols-1 xl:grid-cols-3 items-start gap-12 z-1">
                <div
                    class="relative flex flex-col max-w-96 gap-12 animate-in slide-in-from-bottom duration-500 fade-in"
                >
                    <Profile />
                    <Terminal />
                </div>

                <ProjectSection title="OPEN SOURCE" projects={projects.foss} />

                <ProjectSection title="SIDE PROJECTS" projects={projects.side} />
            </div>
        </div>
        <div class="footer"></div>
    </body>
</html>

<script>
    import {GhostCursor} from "@/scripts/ghost-cursor.ts"
    import "@/scripts/hacker-text.ts"
    import "@/scripts/scroll-background.ts"
    new GhostCursor()
</script>
