---
import "@fontsource-variable/figtree"
import "@fontsource-variable/cascadia-code"
import "@/styles/global.css"
import buttons from "@/content/buttons.json"
import Profile from "@/components/Profile.astro"
import projects from "@/content/projects.json"
import Project from "@/components/Project.astro"
import FileText from "@lucide/astro/icons/file-text"
import ArrowUpRight from "@lucide/astro/icons/arrow-up-right"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>aspizu</title>
    </head>
    <body class="bg-black text-white scheme-dark">
        <nav class="my-2 flex justify-center">
            <a
                href="/blog"
                class="flex items-center gap-1 text-xs text-neutral-300 hover:text-white transition-colors border border-neutral-900 px-2 py-1 rounded-full"
            >
                blog
                <ArrowUpRight class="size-3.5" />
            </a>
        </nav>
        <div class="flex justify-center">
            <div class="relative">
                <Profile />
                <div
                    class="absolute inset-y-0 border-r left-3 border-dashed border-white/25"
                >
                </div>
                <div
                    class="absolute inset-y-0 border-l right-3 border-dashed border-white/25"
                >
                </div>
                <div
                    class="absolute inset-x-0 border-b top-3 border-dashed border-white/25"
                >
                </div>
                <div
                    class="absolute inset-x-0 border-t bottom-3 border-dashed border-white/25"
                >
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center mt-6 gap-4">
            {
                buttons.map((button) => (
                    <a href={button.href} target="_blank">
                        <img
                            class="pixelated"
                            src={`assets/buttons/${button.image}`}
                            alt={button.alt}
                            width={88}
                            height={31}
                        />
                    </a>
                ))
            }
        </div>
        <div class="px-4 pb-8 mt-16" id="projects">
            <div class="max-w-96 mx-auto flex flex-col gap-8">
                {projects.map((project) => <Project {...project} />)}
            </div>
        </div>
    </body>
</html>

<script>
    import {GhostCursor} from "@/scripts/ghost-cursor.ts"
    import "@/scripts/hacker-text.ts"
    new GhostCursor()
</script>
