---
import Project from "./Project.astro"

interface Props {
    title: string
    projects: {
        name: string
        description: string
        repo?: string
        docs?: string
        deployment?: string
        image?: string
    }[]
}

const {title, projects} = Astro.props
---

<div
    class="relative flex flex-col max-w-96 gap-8 animate-in slide-in-from-bottom duration-500 fade-in"
>
    <h1
        class="text-xs mx-auto font-semibold px-1 bg-black z-2 text-neutral-400 hackertext"
    >
        {title}
    </h1>
    <div class="absolute inset-x-0 w-full h-px bg-neutral-800 top-2 z-1"></div>
    {projects.map((project) => <Project {...project} />)}
</div>
