---
import socials from "../data/socials.json"
import Social from "../components/Social.astro"
import Bluesky from "simple-icons-astro/Bluesky"
import Codeberg from "simple-icons-astro/Codeberg"
import Discord from "simple-icons-astro/Discord"
import Github from "simple-icons-astro/Github"
import Pinterest from "simple-icons-astro/Pinterest"
import Reddit from "simple-icons-astro/Reddit"
import Scratch from "simple-icons-astro/Scratch"
import Spotify from "simple-icons-astro/Spotify"
import Steam from "simple-icons-astro/Steam"
import Telegram from "simple-icons-astro/Telegram"
import X from "simple-icons-astro/X"
import Youtube from "simple-icons-astro/Youtube"

const iconMap = {
    Bluesky,
    Codeberg,
    Discord,
    Github,
    Pinterest,
    Reddit,
    Scratch,
    Spotify,
    Steam,
    Telegram,
    X,
    Youtube,
}

const socialsWithIcons = socials.map((social) => ({
    ...social,
    Icon: iconMap[social.name],
}))
---

<div class="w-full mt-4 gap-1.5 grid grid-cols-6" id="socials-container">
    {
        socialsWithIcons.map(({Icon, color, href, tooltip}) => (
            <Social color={color} href={href} tooltip={tooltip}>
                <Icon class="size-[70%]" />
            </Social>
        ))
    }
</div>

<script>
    for (const title of document
        .getElementById("socials-container")
        .querySelectorAll("svg title")) {
        title.remove()
    }
    for (const social_ of document.querySelectorAll(".Social")) {
        const social = social_ as HTMLElement
        setTimeout(() => {
            social.classList.remove("opacity-0")
            social.classList.add("zoom-in-bounce")
            social.addEventListener("animationend", () => {
                social.classList.remove("zoom-in-bounce")
            })
        }, Math.random() * 500)
    }
</script>
