---
import Bluesky from "simple-icons-astro/Bluesky"
import Codeberg from "simple-icons-astro/Codeberg"
import Discord from "simple-icons-astro/Discord"
import Github from "simple-icons-astro/Github"
import Pinterest from "simple-icons-astro/Pinterest"
import Reddit from "simple-icons-astro/Reddit"
import Scratch from "simple-icons-astro/Scratch"
import Spotify from "simple-icons-astro/Spotify"
import Steam from "simple-icons-astro/Steam"
import Telegram from "simple-icons-astro/Telegram"
import X from "simple-icons-astro/X"
import Youtube from "simple-icons-astro/Youtube"
import Social from "../components/Social.astro"
---

<div class="mt-4 gap-3 grid grid-cols-6" id="socials-container">
    <Social color="#181717" href="https://github.com/aspizu" tooltip="GitHub">
        <Github />
    </Social>

    <Social
        color="#FFC83D"
        href="https://scratch.mit.edu/users/aspizu"
        tooltip="Scratch"
    >
        <Scratch />
    </Social>

    <Social color="#FF4500" href="https://reddit.com/u/aspizu" tooltip="Reddit">
        <Reddit />
    </Social>

    <Social
        color="#171A21"
        href="https://steamcommunity.com/id/aspizu/"
        tooltip="Steam"
    >
        <Steam />
    </Social>

    <Social
        color="#0085FF"
        href="https://bsky.app/profile/did:plc:ntwh75drpbi3irhf272raokr"
        tooltip="Bluesky"
    >
        <Bluesky />
    </Social>

    <Social color="#E60023" href="https://in.pinterest.com/a5pizu/" tooltip="Pinterest">
        <Pinterest />
    </Social>

    <Social
        color="#1DB954"
        href="https://open.spotify.com/user/31to572so4aje5seeeqhuqftajva?si=d3f656c7532845a7"
        tooltip="Spotify"
    >
        <Spotify />
    </Social>

    <Social color="#FF0000" href="https://youtube.com/@a5pizu" tooltip="YouTube">
        <Youtube />
    </Social>

    <Social color="#000000" href="https://x.com/a5pizu" tooltip="X">
        <X />
    </Social>

    <Social color="#2185D0" href="https://codeberg.org/aspizu" tooltip="Codeberg">
        <Codeberg />
    </Social>

    <Social color="#26A5E4" href="https://t.me/aspizu" tooltip="Telegram">
        <Telegram />
    </Social>

    <Social color="#5865F2" href="https://discord.gg/yourinvite" tooltip="Discord">
        <Discord />
    </Social>
</div>

<script>
    for (const title of document
        .getElementById("socials-container")
        .querySelectorAll("svg title")) {
        title.remove()
    }
</script>
